body{
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* top container */

#title{
  background-color: #FF4C68;
  color: white;
}

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}

.title-image{
  width: 25%;
  padding-left: 5%;
  transform: rotate(23deg);
  position: absolute;
  right: 23%;
}

/* feature */

#features{
  background-color: white;
}

.feature-box{
  padding: 5%;
}

.feature-heading{
  font-size: 1.40rem;
  color: black;
}

.middle-container-description{
  color: #8F8F8F;
}

.middle-container{
  background-color: white;
  position: relative;
  z-index: 1;
}

.icons{
  padding: 20px;
  color: #EF8172;
}

.icons:hover{
  color: #FF4C68;
}

/* navigation-bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* testimonial section */

#testimonials{
  color: white;
  background-color: #EF8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* press section */
#press{
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

/* pricing section */

#pricing{
  padding:100px;
}

.pricing-column{
  padding: 3% 2%;
}

.pricing-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

.price-heading{
  font-size: 1.40rem;
  color: black;
}

/* media query */

@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0);
    width:50%;
  }
  #title{
    text-align: center;
  }
}

/* footer */

#cta{
  background-color: #FF4C68;
  padding: 5% 0;
}


.footer-heading{
    color: white;
    font-size: 2.5rem;
    margin: 0 25%;
}

.footer-btn{
  margin: 2%;
}

#footer{
  margin-top: 5%;
  background-color: white;
}

.footer-icon{
  margin: 10px;
}

.footer-p{
  color: #8f8f8f;
}
